@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #000; }

a:visited {
  color: #333; }

a:hover {
  color: #000; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

::-moz-selection {
  background: #666;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #666;
  color: #fff;
  text-shadow: none; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Contain floats. */
.cf:after, .grid:after, .grid .row:after {
  content: ' ';
  display: block;
  clear: both; }

.grid .g-container {
  max-width: 824px; }
.grid .row {
  width: 100%; }
.grid [class*='col-'] {
  float: left;
  min-height: 1px; }
  .grid [class*='col-']:last-child {
    margin-right: 0; }
.grid .col-1 {
  width: 8.33333%;
  margin-right: 2; }
.grid .col-2 {
  width: 16.66667%;
  margin-right: 2; }
.grid .col-3 {
  width: 25%;
  margin-right: 2; }
.grid .col-4 {
  width: 33.33333%;
  margin-right: 2; }
.grid .col-5 {
  width: 41.66667%;
  margin-right: 2; }
.grid .col-6 {
  width: 50%;
  margin-right: 2; }
.grid .col-7 {
  width: 58.33333%;
  margin-right: 2; }
.grid .col-8 {
  width: 66.66667%;
  margin-right: 2; }
.grid .col-9 {
  width: 75%;
  margin-right: 2; }
.grid .col-10 {
  width: 83.33333%;
  margin-right: 2; }
.grid .col-11 {
  width: 91.66667%;
  margin-right: 2; }
.grid .col-12 {
  width: 100%;
  margin-right: 2; }

html {
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px; }

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

a {
  text-decoration: none;
  color: inherit; }
  a:visited {
    color: inherit; }

h1 {
  font-weight: 400;
  font-size: 1.4em; }

h2 {
  font-weight: 400;
  font-size: 1.1em; }

.s-body {
  display: flex;
  background-attachment: fixed;
  background-image: url("../img/square_bg_@2X.png");
  background-size: 251px 230px; }
  .s-body .s-layout-sidebar {
    flex: 0 0 260px;
    background-color: #FAFAFA; }
  .s-body .s-layout-content {
    background-color: #FFF;
    border-right: 1px solid #FAFAFA; }

.s-sidebar {
  padding: 54px 62px 54px 32px; }
  .s-sidebar header {
    padding: 0 12px 32px 12px; }
  .s-sidebar h1 {
    color: #85898D;
    line-height: 1.6;
    font-size: 1.6em;
    font-weight: 300; }
  .s-sidebar h2 {
    color: #C6C9CB;
    line-height: 1;
    font-size: 1em; }
  .s-sidebar a {
    color: #85898D;
    border-radius: 3px;
    display: block;
    font-size: 0.9em;
    padding: 8px 12px; }
    .s-sidebar a:hover {
      background-color: whitesmoke; }
    .s-sidebar a.s-subnav-item {
      margin-left: 2px; }
      .s-sidebar a.s-subnav-item::before {
        color: #C6C9CB;
        content: '↳ '; }
  .s-sidebar .label {
    color: #C6C9CB;
    cursor: default;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
    padding: 18px 12px 6px 12px; }

.s-content header {
  margin-bottom: 22px; }
.s-content section {
  padding: 54px; }
.s-content h2 {
  color: #3e3e3e;
  line-height: 1.6;
  font-size: 1.6em;
  font-weight: 300; }
.s-content p {
  color: #85898D;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.58;
  letter-spacing: -0.003em; }
.s-content code {
  color: #85898D;
  font-family: monospace;
  font-size: 0.9em; }
  .s-content code span {
    font-weight: bold; }
.s-content .s-divider {
  color: #C6C9CB;
  cursor: default;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  padding: 12px 54px; }
.s-content .s-sample {
  padding: 12px 0 24px 0; }
.s-content .s-col-sample {
  background-color: whitesmoke;
  height: 36px;
  border-radius: 4px; }
.s-content #s-typeface .row {
  display: table; }
.s-content #s-typeface .col {
  display: table-cell;
  vertical-align: top; }
