// Reset

@import "partials/_reset.scss";
@import "partials/_defaults.scss";

// Modules
@import "modules/_variables.scss";

// Partials
@import "partials/_grid.scss";

// Typography

@import "partials/_typography.scss";

// Pages

@import "pages/_index.scss";

// Guide

@import "partials/_guide.scss";

.color{
  width: 100%;
  height: 100px;
  margin: 20px 0;
}
#red {
	background-color: $red;
}
#orange {
	background-color: $orange;
}
#yellow {
	background-color: $yellow;
}
#green {
	background-color: $green;
}
#blue {
	background-color: $blue;
}
#accent {
	background-color: $accent;
}
