// Grid

.grid {
	$contWidth: 	824px;	// Total container width
	$colGutter: 	2; 		// In percent
	$colCount: 		12; 	// Total columns
	@extend .cf;

	.g-container {
		max-width: $contWidth;
	}

	.row {
		width: 100%;
		@extend .cf;
	}

	[class*='col-']{
		float: left;
		min-height: 1px;
		&:last-child {
			margin-right: 0;
		}
	}

	@for $i from 1 through $colCount {
		.col-#{$i} {
			width: (100% / $colCount) * $i;
			margin-right: $colGutter;
		}
	}
}