// Index

.s-body {  

// ===
// Styleguide Styles
// ===

	display: flex; // Use flexbox layout
	background-image: url("../img/square_bg_@2X.png");
	background-size: 251px 230px;

// Layout

.s-layout-sidebar {
	flex: 0 0 260px;
	background-color: $s-color-bg;
	
}

.s-layout-content {
	// Makes content full width
	// flex: 1;
	background-color: #FFF;
	border-right: 1px solid $s-color-bg;
}

}

// Sidebar

.s-sidebar {
	padding: 54px 62px 54px 32px;
	
	header {
		padding: 0 12px 32px 12px;
	}

	h1 {
		color: $s-color-type-medium;
		line-height: 1.6;
		font-size: 1.6em;
		font-weight: 300;
	}

	h2 {
		color: $s-color-type-light;
		line-height: 1;
		font-size: 1em;
	}

	a {
		color: $s-color-type-medium;
		border-radius: 3px;
		display: block;
		font-size: 0.9em;
		padding: 8px 12px;
		&:hover {
			background-color: $s-color-bg-darker;
		}

		&.s-subnav-item {
			margin-left: 2px;
			&::before {
				color: $s-color-type-light;
				content: '↳ ';
			}
		}
	}

	.label {
		color: $s-color-type-light;
		cursor: default;
		text-transform: uppercase;
		font-size: 0.7em;
		font-weight: bold;
		padding: 18px 12px 6px 12px;
	}
}

// Content

.s-content {
	header {
		margin-bottom: 34px;
	}

	section {
		padding: 54px;
	}

	h2 {
		color: $s-color-type-dark;
		line-height: 1.6;
		font-size: 1.6em;
		font-weight: 300;
	}

	p {
		color: $s-color-type-medium;
		// Ripped from Medium, feel free to tweak
		letter-spacing: .01rem;
	    font-weight: 400;
	    font-style: normal;
	    font-size: 1.1em;
	    line-height: 1.58;
	    letter-spacing: -0.003em;
	}

	code {
		color: $s-color-type-medium;
		font-family: monospace;
		font-size: 0.9em;
		span {
			font-weight: bold;
		}
	}
}