// Variables

// Colors
	
	// Type
	$s-color-type-lighter: #ffffff;
	$s-color-type-light: #C6C9CB;
	$s-color-type-medium: #85898D;
	$s-color-type-dark: #1e1e1e;
	$s-color-type-darker: #000;

	// Backgrounds & Fills
	$s-color-bg: #F8F8FA;
	$s-color-bg-lighter: lighten(#F8F8FA, 3%);